body {
  padding-top: 70px;
}

/* http://angular-ui.github.io/bootstrap/ */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.navbar-text {
  margin-right: 0px;
}

.ng-invalid.ng-dirty {
  border-color: #FA787E;
}

.ng-valid.ng-dirty {
  border-color: #CCCCCC;
}

#infoPanel h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.ace_editor {
  border: 1px solid #DEDEDE;
  overflow: auto;
  min-height: 300px;
  resize: vertical;
  overflow: auto;
  margin-bottom: 20px;
}

.participant {
  margin-left: 1em;
}

@media screen and (max-width: 767px) {
  #alerts {
    left: 1em;
    width: 90%;
  }
}
